

.fullScreen {
 height: 100vh;
}

.logo{
  width: 100%;
}

.rna{
  height: 200px;
  width: 800px;
  margin-top: 50px;
  border-radius: 20px;
  opacity: 30%;
}
.container {
  position: relative;
  text-align: center;
}
.navBar{
  height: 100px;
}

.left-nav-links ul li {
  padding: 10px 0
}

.left-nav-links ul li a {
  color: rgb(99, 2, 2);
}

.drop-zone-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.btn-container {
  display: flex;
 padding: 0em 0px 1em 0px;
 justify-content: center;
 align-items: center;
}

.explanationPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-container h3 {
  padding-bottom: 15px;
  padding-right: 20px;
}

.collapsible-container {
  width: 50%;
  margin: 0 auto;
}

.explainBox{
 margin: 0px 0px 0px 0px;
 background-color: red;
 }

.darkRed{
  color: rgb(99, 2, 2);
}

.button{
  margin: 150px 50px 0px 40px;
  border-radius: 30px;
  font-size: 20px;
  height: 120px;

}

.title{
  font-size: 60px;
  font-weight: bold;
  color: rgb(99, 2, 2);
  width: 800px;
  margin-top: 40px;
}
/* .titleBox{
  margin: 100px 50px 50px 50px;
} */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input-field{
  margin-top: 100px;
}



