

.fullScreen {
 height: 100vh;
}

.logo{
  height: 200px;
}
.rna{
  height: 200px;
  width: 800px;
  margin-top: 50px;
  border-radius: 20px;
  opacity: 30%;
}
.container {
  position: relative;
  text-align: center;
  color: rgb(248, 2, 2);
}
.navBar{
  height: 100px;
}

.explainBox{
 margin: 200px 100px 0px 100px;
 background-color: red;
 color: blue;
}

.button{
  margin: 150px 50px 0px 40px;
  border-radius: 30px;
  font-size: 20px;
  height: 120px;

}

.title{
  font-size: 60px;
  font-weight: bold;
  color: rgb(99, 2, 2);
  width: 800px;
  margin-top: 40px;
}
/* .titleBox{
  margin: 100px 50px 50px 50px;
} */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input-field{
  margin-top: 100px;
}



